name: MkDocs
on:
  push:
    branches:
      - docs
  workflow_run:
    workflows: ["Auto-merge main to docs"]
    types:
      - completed
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: docs
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install mkdocs-material mkdocs-macros-plugin
      - run: python create-documentation.py
      - run: mkdocs gh-deploy --force